version: '{build}'
image:
  - Visual Studio 2019
  - Ubuntu
branches:
  only:
  - master
skip_commits:
  files:
    - '*.md'
    - '*.txt'
skip_tags: true
before_build:
- dotnet --info
build_script:
- ps: >-
    $id = $env:APPVEYOR_REPO_COMMIT_TIMESTAMP -replace '([-:]|\.0+Z)', ''

    $id = $id.Substring(0, 13)

    if ($isWindows) { .\pack.cmd ci-$id }
test_script:
- cmd: test.cmd
- sh: ./test.sh
for:
-
  matrix:
    only:
      - image: Visual Studio 2019
  artifacts:
  - path: dist\*.nupkg
  deploy:
  - provider: NuGet
    server: https://www.myget.org/F/raboof/api/v2/package
    api_key:
      secure: fhGwXyO35FSshRzs5GWmF1LJTrd1sIqmS/jNCSfO2LfOciuYAKiXuFMYZFGiTAl+
    symbol_server: https://www.myget.org/F/raboof/symbols/api/v2/package
    on:
      branch: deploy
notifications:
- provider: Email
  to:
  - ncrontab-builds@googlegroups.com
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: false
